* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.utility-footer{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #141332;
}
.foot-heading {
    font-size: 13px;
}

.foot-heading>a {
    text-decoration: none;

}

.foot-content>p {
    font-size: 14px;
    padding: 2px;
}
.foot-content-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 11px;
   
}
.foot-content-img>img{
    border-radius: 4px;
    width: 100%;
    max-width: 135px;
}

.foot-content>p>a {
    text-decoration: none;
    line-height: 11px;
    transition: 0.6s;
}
.foot-content>p>a:hover{
    
    font-weight: bold;
    border-bottom: 2px solid #f3f3f6;
    color: rgb(52, 191, 147) !important;
}

.foot-icons>ul>li>a {
    background: #fff;
    width: 100;
    font-size: 21px;
    border-radius: 38%;

}
.foot-icons>ul>li>a>svg{
    margin-bottom: 6px;
    color: #230244;
}
.foot-heading-copy {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-heading-copy>a{
    text-decoration: none;
}