* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header--site {

    width: 96%;
    margin: auto;
    background: #fff;
    transition: all .3s;

}

.main-content {
    position: relative;
}

.main-content .nav-drop:after {
    position: absolute;
    top: 1px;
    right: 0;
    width: 1px;
    height: 38px;
    content: "";
    background-color: #3fa9f5;
}
.main-content>a:after {
    position: absolute;
    top: -5px;
    right: 0;
    width: 1px;
    height: 40px;
    content: "";
    background-color: #3fa9f5;
}

.main-content>a {
    position: relative;
    display: inline-block;
    height: 45px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: #3fa9f5 !important;
    margin: 2px;
    letter-spacing: 1.5px;

}
.nav-drop>div{
    background-color: rgb(247, 248, 248);
    border-radius: 0px;
    padding: 10px 25px 10px 25px;
}
.nav-drop>div>a{
    line-height: 19px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #3fa9f5 !important;
}
.nav-drop>a{
    position: relative;
    display: inline-block;
    height: 45px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: #3fa9f5 !important;
    margin: 2px;
    letter-spacing: 1.5px;


}


.main-logo {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;

}

.main-logo>img {
    display: block;
    width: 100%;
    max-width: 270px;
    height: auto;
    max-height: 68px;
}

.main-contact-sectoin>div {
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}

.main-contact-sectoin>div>a {
    background: #5194bd;
}

.circle--contact {
    width: 100%;
    border-radius: 10px;
    padding: 8px;

}

.circle--contact img {
    width: 100%;
    max-width: 28px;
    aspect-ratio: 3/2;
    /* mix-blend-mode: color-burn; */
    object-fit: contain;
    display: block;

}

.circle--mail img {
    width: 100%;
    max-width: 28px;
    aspect-ratio: 3/2;
    /* mix-blend-mode: color-burn; */
    object-fit: contain;
    display: block;

}

.circle--mail {
    margin: 2px;
    width: 100%;
    border-radius: 10px;
    padding: 9px;


}

.circle--livechat img {
    width: 100%;
    max-width: 28px;
    aspect-ratio: 3/2;
    /* mix-blend-mode: color-burn; */
    object-fit: contain;
    display: block;

}

.circle--livechat {
    width: 100%;
    border-radius: 10px;
    padding: 9px;

}

/* links */

.sign-mega-box {
    position: absolute;
    top: 63px;
    width: 70%;
    visibility: hidden;
    left: 5;
    transition: all 0.3s;
    z-index: 9
}
/* .utility-in{
    border: 1px solid red;
} */

.utility-in:hover .sign-mega-box{
    position: absolute;
    top: 63px;
    width: 70%;
    visibility: visible;
    left: 5;
    z-index: 999999;
    transition: all 0.3s;
}

.sign-mega-box .sign-content {
    align-self: start;
}

.sign-content .row .sign-mega-links {
    margin: 0px;

    background: #fff;
    padding: 14px;
}

.sign-content .row .sign-mega-links li a:hover {
    cursor: pointer;
    color: #0f1045;
}

.sign-content .row .sign-mega-links li {
    list-style: none;
}


.sign-content .row .sign-mega-links li a {
    color: #328576;
    font-size: 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-weight: bold;
}