 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 .home-banner {
     width: 100%;
     margin: auto;
     overflow: visible;

 }

 .home-banner::before {
     right: 220px;
     bottom: -7%;
     width: 525px;
     height: 116px;
     background-image: url(../images/Icons/header--bottom.png);
 }

 .banner--header--page {
     position: relative;
     width: 100%;
     max-width: none;
     /* overflow: hidden; */
     background: linear-gradient(180deg, #000, #0f0e28 50%);

 }

 /* .banner--header--page::after {
     top: 30%;
     width: 100px;
     height: 400px;
     background-image: url(../images/header--left.png);
 }

 .block-banner-page:before {
     z-index: 1;
     pointer-events: none;
     background-repeat: no-repeat;
     background-size: contain;
     position: absolute;
     display: block;
     content: "";
 }

 .banner--header--page::before {
     bottom: 0;
     width: 100%;
     height: 100px;
     background-image: url(../images/Icons/header-bottom.svg);
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     display: block;
     content: "";
 } */

 .block-banner-page {
     position: relative;
     z-index: 2;
     width: 100%;
     max-width: 1400px;
     padding: 0;
     display: flex;
     margin: auto;
 }

 .block-banner-page {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

 }
 .home-main-banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
.home-main-banner-img>img{
    width: 100%;
}

 /* @media only screen and (max-width: 900px) {
     .block-banner-page {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;

     }
 } */

 .banner-content>p {
    font-size: 35px;

        margin-bottom: 30px;
        
        font-weight: 700;
        line-height: 60px;
        color: #fff;
        text-align: left;
        letter-spacing: 1px;
 }

 .banner-content>p>strong {
     color: #3fa9f5;
     text-transform: uppercase;
 }

 .banner-content>p:nth-child(2) {
     /* text-align: left;
     font-size: 1.6rem;
     margin-bottom: 10px; */
     /* padding-right: 200px; */
 }

 .header--page__content {
     padding: 15px;
     /* width: 80%; */
 }

 .header--page__content>h1 {
     color: rgb(50, 50, 67);
     margin-bottom: 5px;
     font-size: 1.4rem;
     font-weight: 700;
     text-align: left;
     text-shadow: none;
     text-transform: uppercase;
     letter-spacing: .5px;
     line-height: 1.2;
 }

 .banner-contact-link {
     text-decoration: none !important;
     color: #010101;
     background: #ff931e;
     border-color: #ff931e;
 }

 .banner-contact-link {

     position: relative;
     display: inline-block;
     /* min-width: 140px; */
     height: auto;
     font-size: 14px;
     font-weight: 700;
     color: #0a0935;
     text-transform: none;
     text-align: center;
     vertical-align: top;
     cursor: pointer;
     background-color: #ff931e;
     border: 2px solid #ff931e;
     border-radius: 50px;
     outline: none;
     line-height: 27px;
     box-shadow: none;
     transition: all .3s;
     text-decoration: none;
     padding: 9px 36px 9px 36px;
     margin-top: 1rem;
 }

 .banner-contact-link::before {
     top: 18px;
     right: 24px;
     width: 6px;
     height: 6px;
     border-right-color: transparent;
     border-bottom-color: transparent;
     transform: rotate(180deg);
     transform-origin: center;
 }

 .banner-contact-link::after {
     top: 16%;
     right: 11px;
     width: 27px;
     height: 27px;
     border-radius: 100%;
 }

 .banner-contact-link>svg:hover {
     transform: rotate(225deg);
     transition: transform .3s;
     right: 21px;
     top: 16px;
 }



 .header--page__inner {
     /* width: 60%; */
     padding: 11px;
 }

 .header--page__image {
     position: relative;
     /* width: 50%; */

 }

 .header--page__image img {
     width: 100%;
     clip-path: ellipse(42% 35% at 50% 50%);
     position: relative;
     z-index: 2;

 }

 /* home wrapper */
 .home-wrapper {

     overflow: hidden;
     position: relative;
     background-color: #d6e6ed;
 }

 /* .home-wrapper:hover{
    position: absolute;
    display: block;
    content: "";
    top: -50px;
    left: 0;
    width: 100vw;
    height: 100px;
    margin-top: -1px;
    background-image: url(../images/header-bottom.svg);
    background-repeat: no-repeat;
    background-size: 100vw 100px;
} */
 /* .home-wrapper-content {
     width: 60%;

     margin: 150px auto;

 } */

 /* .home-wrapper-content::before{
    display: table;
    content: "";
    line-height: 0;
} */
 .shortcode {
     display: flex;
     gap: 1rem;
     justify-content: center;
     align-items: center;
     padding: 15px
 }


 /* .wrapper-content {
     width: 100%;
     clear: both;
 } */

 .wrapper-content>p {
     margin-bottom: 40px;
     margin: 0 auto 10px;
     font-size: 22px;
     font-weight: 300;
     line-height: 40px;
     color: #010101;
     text-align: center;
 }

 .wrpper-content-area {
     padding: 22px;
     margin: 5rem auto 5rem auto;
     width: 85%;

     position: relative;

 }


 .tp-widget>a>span {
     border: 0;
     font: inherit;
     font-size: 14px;
     margin: 0;
     padding: 0;
     vertical-align: baseline;
 }

 .tp-widget:nth-child(2)>a>span {
     font-weight: bold;

 }

 .tp-widget:nth-child(3)>a>span>svg {
     background: #00b67a;
     font-size: 18px;
 }

 .tp-widget:nth-child(4)>a>span {
     font-size: 12px;
 }

 .tp-widget:nth-child(5)>a>span {
     font-weight: bold;
 }

 /* end home wrapper */

 /* wrapper--normal */



 .w-container {
     width: 100%;
     margin: 0 auto;
     position: relative;


 }


 .section-header {
     display: grid;
     width: 96%;
     margin: auto;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     align-items: center;
     justify-content: center;
 }

 .container--col-1>.block {
     width: 100%;
 }

 .block {
     position: relative;
     padding: 10px;
 }

 .section--service-circles {
     padding-bottom: 90px;
 }

 .w-titles {
     padding: 22px;
 }

 .w-titles>h2 {
     font-size: 44px;
     padding: 2rem;
     font-weight: 700;
 }

 .w-titles>span {
     color: #342323;
     font-size: 15px;
     line-height: 32px;
     font-weight: 3000;
 }

 .w-titles>p {
     font-size: 22px;
     font-weight: 400;
     line-height: 2.8rem;
     color: #666;
     max-width: 1000px;
     margin: auto;
     margin-bottom: 20px;
 }

 /* .w-image:before {
     content: url(/src/assets/images/Home/image--outline.png);
     position: absolute;
     top: 0px;
     left: 0%;
     z-index: 1;
 } */

 .block img {
     display: block;
     width: 100%;
     height: auto;
 }

 .img--circle img {
     max-width: 524px;
     width: 100%;
     border-radius: 100%;
 }

 /* .col-1-1__block {
     width: 50%;
 } */

 .w-container--col-1 {
     width: 96%;
     margin: auto;
     display: flex;
     justify-content: center;
 }


 /* end wrapper--normal */
 /* gas, electricity */
 .main-home-supply {
     width: 75%;
     margin: auto;
     gap: 2rem;

     display: flex;
 }

 .home-supply {
     /* border: 1px solid green; */
     display: flex;
     width: 80%;
     padding: 30px;
     box-shadow: 0 0 10px #ccc;
     background: #fff;
     border-radius: 30px;

     margin: 20px auto;
     justify-content: space-around;
 }

 .home-gas {
     font-size: 5rem;
     align-items: center;
     display: flex;
     justify-content: center;
     width: 40%;

 }

 .home-gas>svg {
     fill: #d12315;
 }

 .home-electricity {
     display: flex;
     flex-direction: column;

 }

 .home-electricity>div>h2 {
     margin-bottom: 10px;
     font-size: 27px;
     line-height: 2.4rem;
 }

 .home-electricity>div>p {
     color: #4d4d4d;
     line-height: 1.3;
 }

 .gas-shortcode>a {
     color: #010101;
     font-size: 14px;
     font-weight: 700;
     border-radius: 20px;
     border-radius: 20px;
     padding: 6px 20px;
     text-decoration: none;
     transition: all .3s;
     display: block;
     text-align: center;
     line-height: 1.2;
     border: 1px solid #ff931e;
 }


 .supplier-2>div>svg {
     fill: #ff931e;
 }

 .supplier-2>div>div>a {
     border: 2px solid #d4145a;
 }

 .supplier-2>div>div>a:hover {
     background-color: #d4145a;
 }

 .gas-shortcode>a:hover {
     background-color: #ff931e;
 }

 .supplier-3>div>svg {
     fill: #2bb783;
 }

 .supplier-3>div>div>a {
     border: 2px solid #4ba1d9;
 }

 .supplier-3>div>div>a:hover {
     background-color: #2bb783;
 }

 .gas-shortcode>a:hover {
     background-color: #ff931e;
 }

 .supplier-4>div>svg {
     fill: #4ba1d9
 }

 .supplier-4>div>div>a {
     border: 2px solid #4ba1d9;
 }

 .supplier-4>div>div>a:hover {
     background-color: #4ba1d9;
 }

 /* end gas electricity */
 /* home Business */
 .business {

     width: 100%;
     padding: 3rem;
     background: linear-gradient(180deg, #000, #565595 50%);

 }

 .home-bus {
     width: 95%;
     margin: auto;

     display: flex;
     justify-content: center;

 }

 .home-bus>div:nth-child(2)>img {

     width: 95%;
 }

 .home-bus-content {
     padding: 11px;

 }

 .home-bus-img {
     width: 50%;
 }

 .home-bus-content>h1 {
     width: 100%;
     font-size: 3rem;
     color: #3fa9f5;
 }

 .home-bus-content>p {
     margin: 20px 0 60px;
     font-size: 22px;
     line-height: 1.8rem;
     width: 50%;
     color: #ededed;
 }

 .home-bus-content>div>p {

     color: #fff;
     line-height: 22px;
 }

 .home-bus-content>div>p>strong {
     color: #fff;
     font-size: 19px;
 }

 .home-money {
     padding: 22px;
     width: 95%;
     display: flex;
     margin: auto;
 }

 .home-money>div>h1 {
     font-size: 3rem;
     max-width: 600px;
     width: 100%;
     margin: 0 0 20px;
     text-align: left;
     color: #0a0935;
 }

 .home-money>div>h5 {
     font-size: 25px;
 }

 .home-money>div>p {
     width: 90%;
     font-size: 17px;
     line-height: 32px;
     padding: 3px;
 }

 .home-money-img {
     display: flex;
     flex-direction: column;
 }

 .home-money-img>div>img {
     width: 100%;
 }

 .home-quotes {
     display: grid;
     padding: 30px;
     width: 85%;
     margin: auto;
     gap: 2rem;

     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

 }

 .home-quotes-all {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;

 }

 .home-quotes-all>div>svg {
     font-size: 3rem;
 }



 .home-quotes-all>div>p {
     margin: 0 0 20px;
     line-height: 25px;
     letter-spacing: 0.4px;
     font-weight: 300;
 }

 .home-switch {
     width: 85%;
     margin: 2px auto 10px auto;
     display: flex;
     padding: 22px;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: #e5f7ff;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 .home-switch>h1 {
     width: 56%;
     text-align: center;
     border-bottom: 4px solid #cacaf3;
     padding: 10px;
     border-top: 7px solid #5d5db7;
     margin: auto;

 }

 .home-switch-main {
     width: 57%;
     margin: auto;
     text-align: center;

 }

 .home-switch>p {
     padding: 14px;
     width: 80%;
     font-weight: 490;
     line-height: 32px;
     margin: auto;
 }

 /* end home business */

 /* delas */
 .home-deals {
     background-color: #f3fcff !important;
 }

 .home-deals-p {
     font-size: 16px !important;
     padding: 16px !important;
     letter-spacing: 1px !important;
     margin: 2px !important;
     line-height: 33px !important;
 }

 /* slider */
 .homeCardSlider>img {
     width: 97%;
     margin: auto;
     border-radius: 4px;

 }

 /* commercial */
 .home-commercial {
     width: 85%;
     margin: auto;
     padding: 22px;
 }

 .home-com1 {
     display: flex;
     justify-content: space-around;


 }

 .home-com1>div {
     box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
     /* width: 50%; */
     gap: 2rem;
     padding: 2rem;
 }

 .home-com-3 {
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;

 }

 .home-com-3>div:nth-child(2) {
     box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
     max-width: 50%;
     gap: 2rem;
     padding: 2rem;
 }

 .home-com-3>div>img {

     width: 100%;
 }

 .home-com-2 {
     display: flex;
     justify-content: space-between;

 }

 .home-com-2>div {
     box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
     /* width: 50%; */
     gap: 2rem;
     padding: 2rem;
 }

 .home-com-2>div>img {
     width: 100%;
 }

 .home-commercial-p {
     font-size: 15px;
     font-weight: 350;
     letter-spacing: .5px;
     line-height: 28px;

 }

 .home-award {
     padding: 22px;
     background-color: rgb(218, 235, 242);
 }

 .home-awards {
     display: flex;
     width: 85%;
     margin: auto;
     gap: 2rem;
 }

 /* 
 .home-awards-content {
     width: 50%;
 } */

 .home-awards-content>h1 {
     padding: 1.5rem;
 }

 .home-awards-content>div>p {
     color: #4a4747;
     font-size: 15px;
     line-height: 33px;
     padding: 2px;
     font-weight: 350;
 }

 /* .home-awards-img {
     width: 50%;
 } */

 .home-awards-img>img {
     width: 100%;
 }

 /* questions */
 .home-ques {
     width: 80%;
     margin: auto;
     padding: 22px;
     gap: 2rem;

     display: flex;
     justify-content: space-around;
 }

 .home-question-1 {
     padding: 11px;
     width: 50%;
     margin: auto;

 }

 .home-accordian {
     margin: 1.5rem;

 }

 .home-accordian>h2 {
     background-color: #0a0935 !important;


 }

 .home-question-2 {
     width: 50%;
 }

 /* greener energy */
 .home-energy {
     width: 95%;
     margin: auto;
     display: flex;
     padding: 22px;
     justify-content: center;
 }

 .home-energy>div {
     padding: 11px;
     /* width: 50%; */
 }

 .home-energy>div>p {
     font-size: 15px;
     padding: 10;
     line-height: 29px;
     font-weight: 350;
 }

 .home-energy>div:nth-child(2)>img {
     padding: 11px;
     width: 100%;

 }

 .home-g-energy {
     background-image: linear-gradient(-180deg, #b6d0f7 5%, #d9d9d9 0);

 }

 /* end  greener energy  */
 /* form */
 .home-form {
     width: 97%;
     margin: auto;
     padding: 11px;
     background-color: rgb(243, 243, 243);
     position: relative;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 .home-form>div {
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

     width: 70%;
     background-color: white;
     padding: 20px;
     border-radius: 5px;
     /* position: absolute;
    left: 50%;
    top: 40%; 
    transform: translate(-50%, -50%); */
 }




 .h-form-control>input {

     border-radius: 0;
     border: none;
     border-bottom: 1px solid #555;
 }

 .h-form-control>select {
     border-radius: 0;
     border: none;
     border-bottom: 1px solid #555;
 }

 .btn-primary {
     border-radius: 0;
     background-color: #e74c3c;
     border: none;
 }

 /* end forms */

 /* case studies */
 .home-case {
     width: 80%;
     margin: 2rem auto 2rem auto;
     padding: 5px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

 }

 .home-case-study {
     padding: 15px;
     width: 95%;
     display: flex;
     gap: 5px;
     margin: auto;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 .home-case-study>div>img {
     width: 100%;
 }

 .home-case-study-content>a:nth-child(1) {
     display: inline-block;
     padding: 15px;
     font-weight: bold;
     font-size: 20px;
     text-decoration: none;
     color: #fff;
 }

 .home-case-study-content>h2 {
     color: #f1ac00;
     font-size: 21px;
     font-weight: 600;
     line-height: 1.5;
     position: relative;
 }

 .home-case-study-content>p {
     font-size: 15px;
     line-height: 30px;
     letter-spacing: 0px;
     font-weight: 350;
     color: #fff;
 }

 .home-case-study-content {
     padding: 11px;
     background: linear-gradient(180deg, #5a5a5a, #0d0c2d 50%);
 }

 .utility-links {
     width: 70%;
     margin: auto;

 }

 .utility-links>span>a {
     line-height: 27px;
     text-decoration: none;
     padding: 5px;
     color: #000;
     font-size: 14px;
     font-weight: 500;
     text-align: center;
     align-items: center;
 }

 .utility-links>span>a:hover {
     color: #00b67a;
     border-bottom: 1px solid rgb(37, 37, 59);
 }

 .utlity-para {

     padding: 15px;
     margin: 2px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 /* end case study */
 /* contact-us */
 .contact {
     width: 40%;
     display: flex;
     width: 98%;
     margin: auto;
     padding: 11px;
     background: linear-gradient(180deg, #000, #0a0935 50%);
 }

 .contact>div {
     margin: 5rem auto 5rem auto;
 }

 .contact-content {
     width: 50%;

     padding: 11px;
 }

 .contact-content>h2 {
     font-size: 17px;
     color: #fff;
     font-weight: bold;
 }

 .contact-content>h1 {
     letter-spacing: 1px;
     font-weight: bold;
     color: #fff;
 }

 .contact-content>h1>strong {
     color: #0601d1;
 }

 .contact-content>p {
     color: #fff;
     font-weight: 395;
     letter-spacing: 1px;
 }

 .contact-form {

     padding: 11px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     position: relative;
     padding: 40px;
     background: #3fa9f5;
     border-radius: 5px;

     box-shadow: 4px 2px 20px 3px #24246b;
 }

 .contact-form>p {
     color: #fff;
     font-weight: bold;
     letter-spacing: 1px;
 }

 .contact-form>p>svg {
     color: #fff;
     font-weight: bold;
     letter-spacing: 1px;
     font-size: 22px;
 }

 .contact-content-img {
     display: flex;
     gap: 1rem;
     padding: 5px;
     justify-content: center;
     align-items: center;
 }

 .contact-content-img>div>p {
     color: #fff;
     font-weight: 395;
     letter-spacing: 1px;
     margin-top: 5px;
 }

 .contact-content-img>div img {
     width: 100%;
     max-width: 130px;
 }

 @media only screen and (max-width: 800px) {


     .contact-content-img {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;

     }

     .contact {
         display: flex;
         flex-wrap: wrap;
     }
 }

 .contact-details {
     padding: 22px;
     width: 60%;
     display: flex;
     flex-direction: column;
 }

 .contact-form-details {
     padding: 22px;
     display: flex;
     width: 97%;
     margin: auto;
     background-color: #c7f1e2;
 }

 .contact-details>h3 {
     color: #3fa9f5;
 }

 .contact-details>h4 {
     color: #0a0935;
 }

 .contact-details>p {
     font-weight: 564;
     font-size: 14px;
     letter-spacing: 1px;
     color: #896464;
 }

 /* end contact-us */

 /* corporate start */
 .corporate {
     display: flex;
     width: 90%;
     margin: auto;
     justify-content: center;
     align-items: center;
     gap: 2rem;
 }

 .corporate>div {
     width: 50%;

 }

 .corporate>div:nth-child(2)>img {
     width: 100%;
 }

 /* end corporate */

 /* DomesticEnergy */

 /* end DomesticEnergy */

 /* Mix css */
 .compare {
     width: 90%;
     margin: auto;
     padding: 2rem;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

 }

 .compare>div {
     padding: 1rem;
     gap: 2rem;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }

 .compare-img>img {
     width: 100%;
 }

 .compare>div>p {
     font-weight: 460;
     line-height: 28px;
     font-size: 15px;
     padding: 10px;


 }

 .compare-buget {

     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
     padding: 11px;
 }

 .compare-buget>div>span {
     text-align: center;
     align-items: center;
     font-family: 'Courier New', Courier, monospace;
 }

 .bgs-energy-button {

     align-items: center;
     color: #fff;
     padding: 22px;
     margin: 10px;


 }

 .bgs-energy-button-click {
     padding: 5px;
     font-size: 22px;
     border: 1px solid #fff !important;

 }

 .bgs-energy-button>svg {
     font-size: 3rem;
     /* padding: 11px; */

 }

 .best-price {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     cursor: pointer;

 }

 .best-price>div {
     background: none;
     border: 1px solid #fff;
     display: flex;
     border-radius: 4px;
     align-items: center;
     text-align: center;
     margin: 2px;
 }

 .best-price-icons>svg {
     color: #cfcfcf;
     font-size: 42px;

 }

 .home-electricity>h5 {
     color: #f1f0f0;
     padding: 5px;
 }

 /* end Mix css */
 .thanku-top {

     background: linear-gradient(180deg, #100e0e, #0d0c2d 50%);
 }

 .thanku-h {
     width: 90%;
     margin: auto;

 }

 .thanku {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));



     width: 90%;
     margin: auto;

 }

 .thanku-info {
     display: flex;
     align-items: center;

 }

 .thanku-info>div {
     margin: auto;
     align-items: center;
     background-color: #ff931e;
     padding: 20px 40px;
     border-radius: 20px;
 }

 .thanku-links {
     width: 80%;
     margin: auto;
 }

 .thanku-links>span>a {
     color: #2c2a2a;
     padding: 11px;
     font-weight: 350;
     /* text-decoration: none; */
 }

 .our-sector {}

 .our-sector {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
     width: 80%;
     margin: auto;
     gap: 2rem;
 }

 .our-sector>div>img {
     width: 100%;
 }

 .bgs-links {

     width: 80%;

 }

 .bgs-links>span>a {
     color: #000 !important;
     padding: 11px;
     font-weight: 500;

     font-size: 15px;
 }

 .bgs-links>span>a:hover {
     color: #0188d1 !important;
 }

 .gas-table {

     width: 90%;
     margin: auto;
 }

 .gas-table>table>tbody>tr {
     /* display: grid;
     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */

 }

 .gas-table>table>tbody>tr>th {
     background-color: #ff931e;
     color: #fff;
     font-weight: 600;
     font-size: 15px;
     border: 2px solid #fefbf4;
     padding: 1rem .5rem;
     line-height: 1.5;
 }

 .gas-table>table>tbody>tr>td {


     font-size: 14px;
     border: none;
     padding: 1rem .5rem;
     font-weight: 400;
     line-height: 1.5;
     color: #6d6b6a;
     border: 1px solid rgb(228, 220, 220);
 }
 /* .about-company>div{
    width: 100%;
    border: 2px solid black;
    object-fit: contain;
    background-clip: ;
 } */
 .about-company>div>img {
     /* padding: 5px; */
     border: 1px solid #a29c9c;
     width: 100%;
     max-width: 80%;
     object-fit: contain;
     aspect-ratio: 3/2;
     /* mix-blend-mode: color-burn; */
     /* border: 1px solid yellow; */
 }

 .about-company {
     padding: 22px;
   
     display: grid;
     gap: 1rem;
     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));


 }
 .bgs-guide-img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(444px, 1fr));
    gap: .5rem;
    width: 95%;
    padding: 2px;
    margin: auto;
 }

 .bgs-guide-img>div>img{
    width: 100%;
    padding: 5px;
 }

 @media only screen and (max-width:900px) {
     .contact-form-details {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;

     }

     .home-money {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;

     }


     .main-home-supply {
         display: flex;
         flex-wrap: wrap;
     }

     .home-supply {
         display: flex;
         flex-wrap: wrap;
     }

     .w-container--col-1 {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }

     .home-bus {
         display: flex;

         flex-wrap: wrap;
         justify-content: center;
         align-items: center;

     }

     .home-quotes-all {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;


     }

     /* .section-header {
        
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         border: 2px solid green;
     }
      */


     .home-com1 {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }

     .home-com-2 {

         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }

     .home-com-3 {

         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }

     .home-awards {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }

     .home-ques {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }

     .home-energy {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }

     .shortcode {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;

     }

     .corporate {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }

     .best-price {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;

     }

     .best-price>div {
         padding: 5px;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;

     }

     .thanku {
         padding: 5px;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }


 }